<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Portfolio</title>

    <!-- Latest compiled and minified CSS -->
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" 
   		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
   		crossorigin="anonymous">

    <script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
    	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
    	crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
	<p class="h2 text-white bg-success" >Portfolio</h2>
    <table class="table table-striped ">
        <thead class="thead-dark">
	        <tr>
	        	<th>Symbol</th>
	        	<th>Company Name</th>
	            <th>Shares #</th>
	            <th>Purchase Price $</th>
	            <th>Current Price $</th>
	            <th>Change $</th>
	            <th>Change %</th>
	            <th>Day's Gain $</th>
	        </tr>
        </thead>
        <tbody>
	        <tr th:remove="all">
	            <td><p class="text-left">Test1</td>
	            <td><p class="text-right">99</td>
	            <td><p class="text-right">$99.99</td>
	            <td><p class="text-right">$98.59</td>
	            <td><p class="text-right">$9.99</td>
	            <td><p class="text-right">-$89.01</td>
	            <td><p class="text-right">-90.01%</td>
	            <td><p class="text-right">-$89.01</td>
	        </tr>
	        <tr th:remove="all">
	            <td><p class="text-left">Test2</td>
	            <td><p class="text-right">33</td>
	            <td><p class="text-right">$33.33</td>
	            <td><p class="text-right">$3.33</td>
	            <td><p class="text-right">$9.99</td>
	            <td><p class="text-right">-$89.01</td>
	            <td><p class="text-right">-90.01%</td>
	            <td><p class="text-right">-$89.01</td>
	        </tr>
	        <tr th:each="stock : ${stocks}">
	            <td th:text="${stock.stockSymbol}" align="left">Test3</td>
        	    <td th:text="${stock.companyName}" align="left">3</td>
	            <td th:text="${stock.numberOfShares}" align="left">3</td>
	            <td th:text="${(stock.stockPurchasePrice)}" align="left">$0.23</td>
	            <td th:text="${(stock.lastPrice)}" align="left">$1.23</td>
	            <td th:text="${(stock.netChangeInDollars)}" align="left">$1.23</td>
	            <td th:text="${(stock.percentChange) + '%'}" align="left">$1.23</td>
	            <td th:text="${(stock.daysTotalGain)}" align="left">$1.23</td>
	        </tr>
	    	<tr>
	    		<td><a href="stock/add.html" th:href="@{stock/add}">Add Stock</a></td>
	    		<td><a href="stock/modify.html" th:href="@{stock/modify}">Modify Portfolio</a></td>
	    		<td align="right"><a href="http://finance.yahoo.com">link</a></td>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    		<td th:text="${(daysTotalGainDollars)}"></td>
	   		</tr>
   		</tbody>
    </table>
</div>

</body>
</html>